/* Variables */
:root {

    --color-cyan: #b4d0e7;
    --color-blue: #0061ff;
    --color-lightblue: #0093ce;
    --color-red: #d5001f;
    --color-lightred: #ff1c1c;
    --color-green: #a2d39b;
    --color-lightgreen: #d1e9cd;
    --color-lightgray: #f5f5f5;
    --color-yellow: #ffd830;
    --color-purple: #61082b;
    --color-gray: #999999;
    
    --container-md: 860px;
    --container-lg: 1080px;
    --header-height: 60px;
}


/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */
body {
    font-family: 'Open Sans', sans-serif;
    padding-top: var(--header-height);
}

button {
    color: inherit;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Utils */
.container-md {
    max-width: var(--container-md);
    margin-left: auto;
    margin-right: auto;
}

.container-lg {
    max-width: var(--container-lg);
    margin-left: auto;
    margin-right: auto;
}

.d-flex {
    display: flex;
}


/* Layout */



/* Debug */
.border {
    border: 2px dashed #fff;
}

.bg-red {
    background-color: var(--color-red);
}

.bg-green {
    background-color: var(--color-green);
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-yellow {
    background-color: var(--color-yellow);
}

.bg-cyan {
    background-color: var(--color-cyan);
}

section > div[class^="container-"] {
    height: 500px;
}


/* ====================================== */

/* Header */
header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-col {
    display: flex;
}


/* Footer */
footer {
    height: 100px;
}