/******* Variables *******/
:root {

    --color-cyan: #b4d0e7;
    --color-darkblue: #0d2481;
    --color-blue: #0061ff;
    --color-lightblue: #0093ce;
    --color-red: #d5001f;
    --color-lightred: #ff1c1c;
    --color-green: #a2d39b;
    --color-darkgray: #999999;
    --color-gray: #d0d0d3;
    --color-lightgray: #f5f5f5;
    --color-yellow: #ffd830;
    --color-purple: #61082b;
    
    --container-md: 850px;
    --container-lg: 1000px;
    --header-height: 60px;
}


/******* Resets *******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/******* Generics *******/
html {
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: var(--header-height);
}

button {
    color: inherit;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

address {
    font-style: normal;
}

section {
    padding: 100px 0 20px 0;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

h3 {
    font-size: 20px;
    margin-bottom: 14px;
}

h4 {
    font-size: 14px;
    margin-bottom: 14px;
}

p,
blockquote {
   margin-bottom: 30px; 
}


/******* Utils *******/
/* Misc */
.container-md {
    max-width: var(--container-md);
    margin-left: auto;
    margin-right: auto;
}

.container-lg {
    max-width: var(--container-lg);
    margin-left: auto;
    margin-right: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}


/* Txt Style */
.text-bold {
    font-weight: bold;
}


/* Txt Position */
.text-right {
    text-align: right;
}


/* Txt Colors */
.text-muted {
    color: var(--color-darkgray);
}

.text-blue {
    color: var(--color-blue);
}

.text-purple {
    color: var(--color-purple);
}


/* BG Colors */
.bg-red {
    background-color: var(--color-red);
}

.bg-lightred {
    background-color: var(--color-lightred);
}

.bg-green {
    background-color: var(--color-green);
}

.bg-lightblue {
    background-color: var(--color-lightblue);
}

.bg-darkblue {
    background-color: var(--color-darkblue);
}

.bg-yellow {
    background-color: var(--color-yellow);
}

.bg-cyan {
    background-color: var(--color-cyan);
}

.bg-purple {
    background-color: var(--color-purple);
}

.bg-white {
    background-color: #fff;
}


/******* Layout *******/
/* Flex Grid */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}

.row > * {
    padding: 1rem;
}

.col {
    flex-grow: 1;
}

.col-33 {
    flex-basis: calc(100% / 3);
}

.col-40 {
    flex-basis: 40%;
}

.col-60 {
    flex-basis: 60%;
}

.col-66 {
    flex-basis: calc(100% / 3 * 2);
}


/* Padding Top */
.pt-0 {
    padding-top: 0;
}


/* Margin Top */
.mt-30 {
    margin-top: 30px;
}


/* Margin Bottom */
.mb-0 {
    margin-bottom: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-60 {
    margin-bottom: 50px;
}


/* Margin Right */
.mr-30 {
    margin-right: 30px;
}


/* ====================================== */

/******* Buttons *******/
.btn {
    color: #000;
    background-color: transparent;
    padding: 6px 12px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

/* Button Color */
.btn.btn-primary {
    color: #fff;
    background-color: var(--color-blue);
}

.btn.btn-primary:hover {
    background-color: var(--color-lightblue);
}

.btn.btn-secondary {
    color: #000;
    background-color: var(--color-lightgray);
}

.btn.btn-secondary:hover {
    background-color: #fff;
}

.btn.btn-light {
    background-color: #fff;
    border-style: solid;
    border-width: 2px 2px 1px 1px;
    border-color: var(--color-gray) var(--color-gray) #000 #000;
}

.btn.btn-light:hover {
    color: #fff;
    background-color: #000;
    border-width: 1px;
    border-color: #000;
}

/* Button Size */
.btn.btn-small {
    padding: 4px 10px;
}

.btn.btn-large {
    padding: 8px 42px;
}

.btn.btn-full {
    width: 100%;
}


/******* Checkbox *******/
.checkbox {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    cursor: pointer;
}

.checkbox-input {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid var(--color-gray);
    border-radius: 50%;
}

.checkbox-input.checked {
    border: 4px solid var(--color-blue);
}


/******* Separator *******/
.sep {
    margin: 30px 0;
    width: 50px;
    border-bottom: 1px solid var(--color-gray);
}

.sep.sep-2x {
    width: 100px;
}


/******* Navbar *******/
.navbar {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar-col {
    display: flex;
    align-items: center;
}

/* Navbar Logo */
.navbar-logo img {
    height: 25px;
    display: block;
}

/* Navbar Menu */
.navbar-menu {
    margin: 0 16px;
}

.navbar-menu ul {
    display: flex;
}

.navbar-menu a {
    display: block;
    padding: 0 20px;
    color: #000;
    text-decoration: none;

    line-height: calc(var(--header-height) - 1px);
    border-bottom: 2px solid transparent;
}

.navbar-menu a:hover {
    border-color: var(--color-lightblue);
}


/******* Jumbotron *******/
.jumbotron {
    padding: 0;
}

.jumbotron > * {
    position: relative;
    bottom: -40px;
}

/* Jumbotron small*/
.jumbotron-small {
    padding: 80px 0;
}

.jumbotron-small .row {
    align-items: baseline;
}


/******* Plan Cards *******/
.plan-card {
    height: 100%;
    border: 1px solid var(--color-gray);
    font-size: 12px;
}

.plan-card-header {
    padding: 8px 30px;
    text-align: center;
    border-bottom: 1px solid var(--color-gray);
}

.plan-card-body {
    padding: 30px;
}

.plan-card ul li {
    padding: 8px 0;
    display: flex;
    align-items: baseline;
}

.plan-card i {
    margin-right: 4px;
}


/******* Clients Showcase *******/
.clients {
    padding: 0;
    display: flex;
}

/* Main Boxes */
.clients > * {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.clients-col {
    display: flex;
    flex-wrap: wrap;
}

/* Small Boxes */
.client-box {
    flex: 0 0 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid transparent;
}

.client-box:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

.client-box img {
    width: 50%;
    filter: invert(1);
}

/* Center Box */
.clients-info {
    padding: 30px;
    background-color: var(--color-lightgray);
    overflow-y: auto;
}

.clients-info img {
    width: 150px;
}


/******* Faq List *******/
.faq-list li {
    padding: 30px 0;
    border-bottom: 1px solid var(--color-darkgray);
    cursor: pointer;
}

.faq-list li:first-child {
    border-top: 1px solid var(--color-darkgray);
}

.faq-question {
    display: flex;
    justify-content: space-between;
}

.faq-question::after {
    content: '\f107';
    margin-right: 30px;

    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
}

.faq-answer {
    display: none;
}

/* Faq list hover */
.faq-list li:hover .faq-answer {
    display: block;
}

.faq-list li:hover .faq-question::after {
    content: '\f106';
}


/******* Footer *******/
footer {
    background-color: #000;
    margin-top: 80px;
    color: #fff;
}

/* Footer Top */
.footer-top {
    padding: 60px 0;
    display: flex;
}

.footer-col {
    flex-basis: calc(100% / 5);
}

.footer-top a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 6px 0;
}

/* Footer Bottom */
.footer-bottom {
    padding: 10px 0 40px;
    color: var(--color-darkgray);
}

.footer-language {
    display: flex;
    align-items: center;
    gap: 6px;
}